body {
    background:#B22222 
    font-family:Arial, Helvetica, snas-serif;
}

.assignment{
    display:flex;
    padding:10px;
    margin:10px;
    margin-bottom: 30px;
    backgorund:#FFD700;
    border-radius: 5px;
    box-shadow: 5px 8px #800080; 
}

.assignment img{
    width:200px;
    border: 2px solid #8A2BE2;
    margin-right:20px;
    border-radius: 5px;
}

h1{
    color: #8B008B;
    text-align:center;
}

a{
    text-decoration:none;
    color: #DCDCDC;
}

.assignment h2 {
    color: black;
}